@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
    --color-btn-dark:#fefefe;
    --color-page-light : #fff;
    --color-page-dark: #323232;
}
